@media(max-width:576px){
    .text-justify {
        text-align: justify;
    }
}

#sobre-mi {
  scroll-margin-top: 80px;
}

#proyectos {
  scroll-margin-top: 80px;
}

#escolaridad {
  scroll-margin-top: 80px;
}

footer{
    background-color:#c2cdc8;
}